.cover__background {
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../../sprint-3-images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.cover__background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  z-index: 1;
  opacity: 0.3;
  transition: opacity 0.3s linear;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media (max-width: 1100px) {
  .cover__background {
    min-height: 688px;
  }
}

@media (max-width: 1000px) {
  .cover__background {
    min-height: 625px;
  }
}

@media (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media (max-width: 450px) {
  .cover__background {
    min-height: 266px;
  }
}

@media (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}